#about-us-main {
    text-align: center;
}

.circle {
    margin: auto;
    background: #e5906f;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

#transition {
    -webkit-transition: height 2s ease-out;
    -moz-transition: height 2s ease-out;
    -o-transition: heigth 2s ease-out;
    transition: height 2s ease-out;
    /* transition: width 5s ease-in;
    transition: height 5s ease-in; */
}

#transition :hover {
    width: 300px;
    height: 300px;


}

.circle-title {
    padding-top: 40%;
}

.amountOfUsers {
    background-color: rgb(188, 178, 178);
    height: 10%;
    width: 25%;
    margin: auto;
}

.team {
    display: flex;
}