#about-us-main {
    text-align: center;
}

.circle-wrapper {
    width: 300px;
    height: 350px;
    margin: auto;
}

.circle {
    margin: 30px auto auto auto;
    width: 250px;
    height: 250px;
    background-color: rgb(244, 83, 24);
    border-radius: 50%;
    transition: width 0.9s ease, height 0.9s ease, background-color 0.7s ease;
}

.circle:hover {
    width: 300px;
    height: 300px;
    background-color: rgb(252, 174, 146);
}

.registerNav {
    display: flex;
    justify-content: flex-end;
    width: 100vw;
}

.amountOfUsers {
    background-color: rgb(219, 212, 212);
    width: 25%;
    margin: 20px auto auto auto;
    padding: 20px 0 20px 0;
}

.team {
    display: flex;
    justify-content: center;
}

.section-one {
    height: 80vh;
    padding-top: 40px;
}

.section-two {
    height: 90vh;
    padding-top: 40px;

}

.text {
    width: 60vw;
    margin: auto;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.img {
    width: 100px;
    margin: 20px;
}