#discover-main {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    /* enable scroll snap */
}

header {
    height: 50px;
    background-color: #f0f0f0;
    display: flex;
}

button {
    background: none;
    /*border: none;*/
}

#discover-section-one {
    height: 50vh;
}


#discover-photos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 5px;
    grid-auto-flow: dense;
}

#discover-photos>div {
    overflow: hidden;
}

#discover-photos>div img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

footer {
    height: 50px;
    /* set the height of the footer */
    background-color: #f0f0f0;
}