#home-main {
    height: calc(100vh - 11vh);
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    /* enable scroll snap */
}

#home-section-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 5vw;
}

header {
    height: calc(100vh - 89vh);
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    gap: 16vw;
    padding: 10px;
    border-bottom: 2px solid black;
}

header h1 {
    padding-left: 6vw;
}


button {
    background: none;
    /*border: none;, placeholder styles>*/
    padding: 3px;
    border-radius: 10px;
}

#navHome {
    position: relative;
    top: 20px;
    border: none;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
}

#home-photos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 1vw;
    grid-auto-flow: dense;
    z-index: 1;
}

#home-photos>div img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#search-form {
    position: relative;
    width: 70%;
    align-self: center;
    display: flex;
    gap: 1vw;
}

#search-field {
    color: rgba(0, 0, 0, .87);
    border-bottom-color: rgba(0, 0, 0, .42);
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: .009375em;
    text-decoration: inherit;
    text-transform: inherit;
    align-self: flex-end;
    box-sizing: border-box;
    width: 100%;
    padding: 20px 16px 6px;
    transition: opacity;
    border: none;
    border-bottom: 1px solid;
    border-radius: 4px 4px 0 0;
    background: rgb(245, 245, 245);
    height: 56px;
}

#search-field:hover {
    border-bottom-color: rgba(0, 0, 0, .87);
    background: #ececec;
}

#search-field:focus {
    border-color: #5902d2;
}

.interaction-container {
    position: relative;
    top: 40px;
    z-index: 2;
}