#home-main {
    height: 90%;
    margin: 5px;
    overflow-y: scroll;
}

header {
    display: flex;
    border-bottom: 2px black solid;
    margin-bottom: 10px;
}

h1 {
    margin-bottom: 5px;
}

button {
    background: none;
    /*border: none;*/
}

#home-photos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    grid-auto-flow: dense;
}

#home-photos>div img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}