#navLogin {
    border-bottom: 2px solid black;
    width: 100vw;
}

#login-main {
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Center all elements except nav */
#login-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* Align elements vertically */
    height: 100vh;
    /* Make section fill entire viewport */
    gap: 20px;
    overflow: hidden;
}

#loginForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}