.body-layout {
  display: grid;
  grid-template-columns: 15vw 1fr;
  /* 15% for the header, remaining space for the main content */
  grid-template-rows: 100vh;
}

.user-page-header {
  position: fixed;
  width: calc(100vw - 85vw);
  grid-column: 1;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.user-page-main {
  height: 100vh;
  width: calc(100vw - 15vw);
  grid-column: 2;
  grid-row: 1;
  scroll-behavior: smooth;
  overflow-y: scroll;
  overflow-x: hidden;
}

.user-section-one {
  height: 40%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-section-two {
  border-top: 1px rgba(0, 0, 0, 0.442) solid;
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-section-two nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-section-two nav button {
  flex: 1 0 auto;
  width: 100%;
  max-width: 150px;
  margin: 10px;
}
#form_upload {
  margin: 10px;
}
#userIcon {
  font-size: 5em;
}

.user-section-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#profile-picture {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 10px;
}

#profile-picture img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#profile_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
}

#form_profile_upload,
#profile_result {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

#custom_upload_button {
  border: none;
  padding: 10px;

  cursor: pointer;
  border-radius: 10px;
  font-size: 15px;
}

#profile-section-two {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#section_two_button {
  font-size: 15px;
  margin: 10px;
}

.delete {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b2b2b274;
  color: black;
  border: none;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 15px;
  cursor: pointer;
  height: 20px;
  margin-bottom: 10px;
}

.delete:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.photo_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-page-photos {
  width: 100%;
  margin: 0 auto;
  max-width: 800px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: min-content;
  grid-gap: 10px;
  text-align: center;
}

.photo_containers {
  margin: 2px 10px 10px 10px;
  width: 100%;

  height: 100%;

  display: flex;

  flex-direction: column;

  justify-content: space-between;
}

#message_container {
  text-align: center;
}

#collections-photos > div img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
#hover-message {
  cursor: pointer;
}
#hover-message:hover {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  color: rgb(161, 119, 134);
}
