#navRegister {
    border-bottom: 2px solid black;
    width: 100vw;
    position: relative;
    top: 20px;
    border: none;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
}


#register-main {
    overflow-y: scroll;
}

/* Center all elements except nav */
#register-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* Align elements vertically */
    height: calc(100vh - 90px);
    /* Make section fill entire viewport */
    gap: 20px;
    overflow: hidden;
}

#regForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


#login-btn {
    color: black;
    background: none;
    padding: 5px 15px;
    border: none;
    cursor: pointer;
}




/* 
footer {
    height: 50px;
    background-color: #f0f0f0bc;
} */

/* #navRegister {} */