/* #navRegister {
    border-bottom: 2px solid black;
    width: 100vw;
    position: relative;
    top: 20px;
    display: flex;
    justify-content: flex-end;
}

#register-main {
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Center all elements except nav */
#register-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* Align elements vertically */
    height: 100%;
    /* Make section fill entire viewport */
    gap: 20px;
}

#regForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


#login-btn {
    color: black;
    background: none;
    padding: 5px 15px;
    border: none;
    cursor: pointer;
}

*/
/* 
footer {
    height: 50px;
    background-color: #f0f0f0bc;
} */

/* #navRegister {} */