* {
    margin: 0;
}

/* Animate the scrolling */
html {
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

main {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.section {
    height: 100vh;
    /* set the height of each section to 100vh */
    scroll-snap-align: start;
    /* snap each section to the top of the viewport */
}

form {
    width: 200px;
}

button {
    cursor: pointer;
}

form input {
    border: none;
    padding: 5px 15px;
}

form button {
    background-color: #ff3131;
    color: white;
    padding: 5px 15px;
    border: none;
    margin-left: 60px;
    width: 80px;

}

.display-none {
    display: none;
    background-color: pink;
}

.display-block {
    display: block;
}