@font-face {
    font-family: "Neue Montreal-Bold";
    src: url("../fonts/Neue-montreal-free-demo_pangram-pangram_030418/NeueMontreal-Bold.otf");
}

@font-face {
    font-family: "Neue Montreal-Medium";
    src: url("../fonts/Neue-montreal-free-demo_pangram-pangram_030418/NeueMontreal-Medium.otf");
}

@font-face {
    font-family: "NeueMontreal-Regular";
    src: url("../fonts/Neue-montreal-free-demo_pangram-pangram_030418/NeueMontreal-Regular.otf");
}

@font-face {
    font-family: "NeueMontreal-Light";
    src: url("../fonts/Neue-montreal-free-demo_pangram-pangram_030418/NeueMontreal-Light.otf");
}

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

/* Animate the scrolling */
html {
    scroll-behavior: smooth;
}

.bg-img {
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    width: 100vw;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: "NeueMontreal-Regular";
}

header {
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid black;
}

h1 {
    font-family: "Neue Montreal-Bold";
}

h2 {
    font-family: "Neue Montreal-Medium";
}

.section {
    height: 100%;
}

i,
button {
    cursor: pointer;
    font-family: "NeueMontreal-Regular";
}

#message {
    margin: 10px;
    font-size: small;
    color: rgb(244, 83, 24);
    text-align: center;
}

/*Modal styles*/

/* The Modal (overlay/background) */
.modal {
    position: fixed;
    /* Stay in place */
    z-index: 9999;
    /* Sit on top */
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    /* Black with opacity */
}

/* Modal Content */
.modal-content {
    position: fixed;
    z-index: 10000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
    border-radius: 5px;
    border: 1px solid #888;
    background-color: #fefefe;
    box-shadow: 3px 3px 6px 0px #CCDBE8 inset, -3px -3px 6px 1px rgba(255, 255, 255, 0.5) inset;

    padding: 50px;
    text-align: center;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    /* float: right; */
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: -1px;
    right: 13px;
}

.modal-button {
    position: absolute;
    top: 24px;
    right: 3px;

}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.display-none {
    display: none;
}

.display-block {
    display: block;
}

/* .mini-profile-photo {
    background-color: palegreen;
    border-radius: 50%;
    width: 30px;
    height: 30px;
} */

.activeBtn {
    background-color: black;
    color: white;
    border: none;
}

/*.btnDeactivated {
    background-color: rgb(244, 202, 202);
}*/

.deactiveBtn {
    background-color: rgb(255, 255, 255);
    color: black;
    border: none;
}